#version: '3.9'

services:
  nginx:
    image: nginx:stable
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./src:/var/www/html
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
    depends_on:
      - php
    restart: always

  php:
    build: ./php
    volumes:
      - ./src:/var/www/html
    environment:
      - REDIS_PASS=${REDIS_PASS}
    restart: always

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:7
    command: [ "redis-server", "--requirepass", "${REDIS_PASS}", "--bind", "0.0.0.0", "--protected-mode", "yes" ]
    restart: always

  certbot:
    image: certbot/certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
    entrypoint: /bin/sh -c "trap exit TERM; while :; do sleep 1d & wait $${!}; done"
    restart: always

volumes:
  pgdata:
  certbot-etc:
  certbot-var:
